<div id="<%= dom_id phone %>">
  <p>
    <strong>Person:</strong>
    <%= phone.person_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= phone.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= phone.end_date %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= phone.label %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= phone.number %>
  </p>

</div>
