<div id="<%= dom_id membership %>">
  <p>
    <strong>Start date:</strong>
    <%= membership.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= membership.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= membership.status %>
  </p>

  <p>
    <strong>Boats:</strong>
    <%= membership.boats %>
  </p>

  <p>
    <strong>Slip assignment:</strong>
    <%= membership.slip_assignment %>
  </p>

  <p>
    <strong>Children:</strong>
    <%= membership.children %>
  </p>

</div>
