<div id="<%= dom_id membership %>">

<div class=container><%= people_table(membership) %></div>
<div class=container><%= addresses_table(membership) %></div>
<div class=container><%= member_info_table(membership) %></div>
<div class=container><%= invoices_table(membership) %></div>
