<div id="<%= dom_id invoice %>">
  <p>
    <strong>Membership:</strong>
    <%= invoice.membership_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

  <p>
    <strong>Posted date:</strong>
    <%= invoice.posted_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Balance due:</strong>
    <%= invoice.balance_due %>
  </p>

</div>
