<div id="<%= dom_id payment %>">
  <p>
    <strong>Invoice:</strong>
    <%= payment.invoice_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Check number:</strong>
    <%= payment.check_number %>
  </p>

</div>
