<div id="<%= dom_id email %>">
  <p>
    <strong>Person:</strong>
    <%= email.person_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= email.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= email.end_date %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= email.label %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= email.address %>
  </p>

</div>
